.container{
    width: 450px;
    
}

.box{
    background-color: rgb(189, 235, 235);
    padding: 15px;
}

.heading{
    text-align: center;
    background-color: antiquewhite;
    padding: 24px;
    margin: 20px 0;
}


.detail{
    text-align: center;
}

.detail img{
    width: 100%;
}